.container{
    position: relative;
    top: 30px;
    left: 180px;
}



.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.main{
    padding: 20px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5px;
    margin-right: 150px;
}

@media screen and (max-width: 1080px) {
    .cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    }
}



.cards .card {
    padding: 25px;
    text-align: start;
    justify-content: start;
    background: whitesmoke;
    border-radius: 10px;
    margin: 10px 30px 50px 0px;
}

.title {
    font-size: 10px;
    font-weight: 500;
}

.number {
    font-size: 20px;
    font-weight: 600;

}

.icons {
    font-size: 15px;
    text-align: end;

    margin-top: -25px;
    color: grey;
    cursor: pointer;
}

.icons:hover {
    color: "black";
}

.progress {
    width: 80px;
    padding-left: 10px;
    background-color: red;
}

.chart1 {
    height: 400px;
    width: 780px;
    margin-right: 50px;
}

.chart2{
    right: 100px;
}



