.container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 50px;
    margin-left: 150px;
    background-color: rgba(128, 128, 128, 0.141);

}

@media only screen and (max-width: 480px) {
    .container {
        display: flex;
    }
    .chart2{
        display: none;
    }
}


.head {
    background-color: grey;
    padding: 16px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
    color: rgba(128, 0, 0, 0.705);
    font-weight: bold;

}
.content{
    float: right;
    cursor: pointer;
}