/* header.module.css */
.header {
    background-color: rgba(128, 128, 128, 0.141);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 0px;
    margin-left: 180px;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-wrapper {
    display: flex;
    align-items: center;
}

.searchInput {
    margin-right: 5px;
    padding: 5px;
    border: none;
}

.button {
    cursor: pointer;
    background-color: blue;
    border: none;
    padding: 5px;
}

.notification {
    position: relative;
    margin-right: 20px;
}

.notification sup {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.notification ul {
    position: absolute;
    display: none;
    width: 15%;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.notification:hover ul {
    display: block;
}

  /* Additional styles for message center */
.message-center {
    margin-left: 10px;
}
.content1{
    text-align: center;
    color: grey;
    font-size: 12px;
    margin-top: -30px;
    padding-bottom: 15px;

}
.let1{
    font-size: 12px;
    text-align: center;
}

.content2{
    text-align: center;
    font-size: 12px;
    margin-top: -30px;
}
.let2{
    color: grey;
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}

  /* Additional styles for user section */
.user-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user-name {
    color: grey;
    margin-right: 10px;
}
